html{font-size: 62.5%;}
body{font-family: 'Open Sans', 'Helvetica Neue', Arial, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei';overflow: hidden;}

/*S bootstrap reset*/
a{color: #4377cb;}
a:hover{color:#4483ea}
.container-fluid,.col-xs-1,.col-xs-2,.col-xs-3,.col-xs-4,.col-xs-5,.col-xs-6,.col-xs-7,.col-xs-8,.col-xs-9,.col-xs-10,.col-xs-11,.col-xs-12{
    padding-left: 0;
    padding-right:0;
}
.col-xs-20{
    width: 20%;
    float: left;
    min-height: 1px;
}
.col-xs-16{
    width: 16.666666%;
    float: left;
    min-height: 1px;
}
h1,h2,h3,h4,h5,h6,p,ul,ol{
    margin-top: 0;
    margin-bottom:0;
    margin-left: 0;
}
.btn{border-radius: 0;}
.form-control{border-radius: 0;}
.width-140{
    width: 140px;
    height: 40px;
    line-height: 28px;
}
.width-140 img{
    margin-top:2px;
}
.width-auto{
    width: auto;
    height: auto;
}
.border-none{
    border: 0 none;
}
label{font-weight: normal;}
/*  bs state reset
********************************************/
a:hover,a:focus,a:active{text-decoration: none;}
.btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus {
    outline: none;
    outline-offset: 0;
}
button.bg-deep-blue:hover,button.bg-deep-blue:active,button.bg-deep-blue:focus{color:#fff;}
button.bg-light-yellow:hover +.bg-deep-yellow{background: #d3a95f !important;}
button.bg-deep-yellow:hover{background: #d3a95f !important;}
button.bg-light-green:hover +.bg-deep-green{background: #4a9d93 !important;}
button.bg-deep-green:hover{background: #4a9d93 !important;}
button.bg-light-red:hover +.bg-deep-red{background: #ea4d3a !important;}
button.bg-deep-red:hover{background: #ea4d3a !important;}
button.bg-light-blue:hover +.bg-deep-blue{background: #4377cb !important;}
button.bg-deep-blue:hover{background: #4377cb !important;}
.text-btn:active {
    box-shadow: inset -4px 0 5px rgba(0, 0, 0, .125);
    -webkit-box-shadow: inset -4px 0 5px rgba(0, 0, 0, .125);
}
/*E bootstrap reset*/
/*S colors*/

.bg-light-blue{background-color: #4377cb;color: #fff;}
.bg-deep-blue{background-color: #4483ea;color: #fff;}
.border-light-blue{border-color: #4377cb;}
.border-deep-blue{border-color: #4483ea;}
/*.bg-light-blue:hover +.bg-deep-blue{background: #4377cb !important;}*/
/*.bg-deep-blue:hover{background: #4377cb !important;}*/
.bg-light-red{background-color: #ea4d3a;}
.bg-deep-red{background-color: #fd5c48;}
.border-light-red{border-color: #ea4d3a;}
.border-deep-red{border-color: #fd5c48;}

/*.bg-light-red:hover +.bg-deep-red{background: #ea4d3a !important;}*/
/*.bg-deep-red:hover{background: #ea4d3a !important;}*/
.bg-light-green{background-color: #4a9d93;}
.bg-deep-green{background-color: #5cb2a7;}
.border-light-green{border-color: #4a9d93;}
.border-deep-green{border-color: #5cb2a7;}

/*.bg-light-green:hover +.bg-deep-green{background: #4a9d93 !important;}*/
/*.bg-deep-green:hover{background: #4a9d93 !important;}*/
.bg-light-yellow{background: #d3a95f;}
.bg-deep-yellow{background-color: #ddb770;}
.border-light-yellow{border-color: #d3a95f;}
.border-deep-yellow{border-color: #ddb770;}
/*.bg-light-yellow:hover +.bg-deep-yellow{background: #d3a95f !important;}*/
/*.bg-deep-yellow:hover{background: #d3a95f !important;}*/
.bg-gray{background-color: #eeeff4}
.border-gray{border-color: #eeeff4;}
.bg-black{background-color: #414349;}
.bg-white{background-color: #fff;}
/*E colors*/





/*S page init*/
/*  max height warp
********************************************/
html,body{height: 100%;}
.container-fluid,.menu,.main{
    height: 100%;
}
/*  chrome scrollbar reset
********************************************/
::-webkit-scrollbar {
    width: 0.6rem;
    background-color: #dbe4f5;
}
::-webkit-scrollbar-thumb {
    border-radius: 0.3rem;
    background-color: #4483ea;
}
/*  scroll list
********************************************/
.scroll-max-height-wrap{
    overflow: auto;
    border-top:3px solid #eeeff4;
}
.scroll-row >li{
    border-bottom:1px solid #eeeff4;
}
.scroll-row .scroll-header{
    font-weight: bold;
}
.scroll-row.scroll-no-border >li{
    border-bottom: none;
}
.scroll-col li{
    float: left;
}
.check-box{
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url("../images/checked.png") no-repeat right;
    vertical-align: middle;
}
.check-box.active{
    background-position: left !important;
}
.name a,.name{
    color:#4377cb !important;
    position: relative;
    z-index: 6;
}
.name a:hover.name:hover{
    color: #4483ea !important;
}
.line-list:hover{
    background: #eeeff4;
}
/*E page init*/

/*S left menu*/
.menu{color: #7d818a;}
.menu a{display: block;}
.logo img{width: 100%;}
.menu .title{line-height: 40px;background-color: #2B2A2A;}
.menu-list a{
    width: 100%;
    padding:20px 0;
    color: #7d818a;
    text-align: center;
    background: #414349;
    border-bottom: 1px solid #353538;
}
.menu-list a span{margin-top:15px;display: block}
.menu-list .active a{
    color: #478eff;
    background: #3e3f42;
}
/*E left menu*/


.border-orange:hover{
    background-color: #eeeff4 !important;
}

/*in/li/wait    Search*/
.search-wrap{
    height: 40px;
    line-height: 40px;
}
.search-wrap input{
    height: 40px;
    padding: 0 0 0 12px;
}
.search-wrap .btn{
    margin-left:-1px;
    height: 40px;
}

.sort{
    color: #72a2f0;
}

.association-passengers{
    width: 193px;
    margin-right:20px;
}

#association-passengers{
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.5);
    top:0;
    left: 0;
    z-index: 999;
}
#association-passengers .btn,
#association-passengers input{
    height: 40px;
}
#association-passengers .btn{
    width: 100px;
}
#association-passengers input{
    padding-left:12px;
}
.ap-wrap{
    width: 75%;
    height: 560px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    display: inline;
    overflow: hidden;
}
.ap-header{
    line-height: 60px;
    padding: 24px 27px;
    font-size: 14px;
    color: #4483ea;
    box-shadow: 0 0 5px #eeeff4;
}
#association-passengers .header,.select-header{
    font-weight: bold;
    color: #000;
}
.ap-header h4{
    font-size: 16px;
}
.ap-close-btn{
    position: absolute;
    right:-1px;top:-1px;
    width: 40px;
    height: 40px;
    text-align: center;
}
.ap-close-btn img{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}
.ap-search{
    padding: 20px 27px;
    border-bottom:1px solid #eeeff4;
    line-height: 40px;
}
.ap-search >div{
    float: left;
}
.ap-search label{
    color: #ccc;
}
.ap-list{
    height: 100px;
    overflow-y: scroll;
}
.select-list {
    height: 220px;
    overflow-y: scroll;
}

.ap-list ul,.select-list ul{
    padding-left:27px;
    padding-right:27px;
}
.select-title {
    line-height: 50px;
    width: 100%;
}
.select-title li {
    float: left;
    width: 31.666666%;
    text-align: center;
}
.ap-list .clearfix li,.select-list .clearfix li{
    float: left;
    line-height: 50px;
}
.ap-list .clearfix li{
    width: 31.666666%;
    text-align: center;
}
.ap-select{
    background: #eeeff4;
}
.ap-check-box{
    width: 5% !important;
    text-align: left;
}
.select-list ul li{
    width: 31.666666%;
    text-align: center;
}
.ap-select h3{
    margin-left:27px;
    padding-top:16px;
    font-size: 16px;
    color: #4483ea;
}
.a-p-idCard{
    margin-left:60px;
}
.ap-operation{
    padding-top:12px;
    padding-bottom:12px;
    position: absolute;
    bottom: -10px;
    margin-left: 34%;
}
.ap-operation .border-deep-blue{
    margin-left:15px;
}

.dropdown-text{
    line-height: 40px;
    margin-right:10px;
}

.bg-gray-disabled{
    background: #979797 !important;
    color: #fff;
}
.confirm{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 6666;
    left: 0;
    top:0;
    background: rgba(0,0,0,.5);
}
.confirm-box{
    width: 300px;
    height: 150px;
    padding: 15px;
    position: absolute;
    left: 0;
    top:0;
    right: 0;
    bottom:0;
    margin: auto;
    background: #fff;
    text-align: center;
}
.confirm-box p{
    line-height: 30px;
    font-size: 16px;
}
.confirm-box .error{
    font-size: 12px;
}
.confirm-box .error{
    color: #979797;
}
.confirm-box .btn-group  button{
    width: 80px;
    margin-top:20px;
}
.true{
    margin-right:10px;
}
